mixin headerBox()
  .main__header
    .main__header__box
      .main__header_text__box 
        h1.heading-primary__box
          span.heading__primary__box__text Outdoors
          span.heading__secondary__box__text is where life happens
        a.btn.btn--white.btn--animated(href="#top-tours") Discover our tours 