mixin stories()
  section.section-stories
    .u-center-text.u-margin-bottom-big
      h2.heading-secondary.heading-secondary--about We make people genuinely happy

    .row
      .story
        figure.story__shape
          img(src="img/nat-8.jpg" alt="person on a tour").story__img
          ficaption.story__caption Mary Smith

        .story__text
          h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.

    .row
      .story
        figure.story__shape
          img(src="img/nat-9.jpg" alt="person on a tour").story__img
          ficaption.story__caption Jack Wilson

        .story__text
          h3.heading-tertiary.u-margin-bottom-small WOW! My life is completely different now
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui.

    .u-center-text.u-margin-top-huge
      a(href="#").btn-text Read all stories &rarr;
